*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    animation: bgcolor 4s linear infinite;
  }

  .container{
    padding: 40px;
    background: rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }


@keyframes bgcolor 
{
    from{filter:hue-rotate(0deg);}
    to{filter:hue-rotate(360deg);}
}



  .score{
    font-size: 28px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 10px;
    /* border: 2px black solid; */
    max-width: 200px;
    margin-block-end: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .conng{
    font-size: 28px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: tomato;
    font-weight: bold;
    padding: 10px;
    /* border: 2px black solid; */
    width: 350px;
    text-align: center;
    margin-block-end: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .flex-box{
    display: flex;
    justify-content: space-between;
  }


